/node_modules
/public/hot
/public/includes
/public/storage
/storage/logs
/storage/*.key
/vendor
.env
.env.integration
.env.testing
.env.backup
.env.testing
.env.migration
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
dump.rdb
.DS_Store
/storage/tenant*
.vscode
dump.rdb
auth.json
.editorconfig

__MACOSX
/encrypted

/public/js/app.js
/resources/js/ziggy.js
/public/js/app.js.LICENSE.txt

/public/js/vendor.js
/public/js/vendor.js.LICENSE.txt

/public/js/manifest.js
/public/mix-manifest.json

