/* Organization management css*/
.dd.nestable_list-wp {
    max-width: 100%;
}

.organization-card-header {
    padding: 0 1rem;
}
.organization-collapse-el {
    display: inline-flex;
    align-items: center;
}

.organization-collapse-el i {
    font-size: xxx-large;
}

.organization-actions {
    position: absolute;
    top: 16px;
    right: 0;
}

.department-item {
    background: #f1f5f7;
    font-weight: 600;
    padding: 5px 14px;
    /*color: black;*/
    border-radius: 3px;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 4px !important;
}

.nestable-item .nestable-item-name {
    cursor: pointer;
}

.nestable-item,
.nestable-item-copy {
    margin: 4px 0 0 !important;
}

.nestable-item.is-dragging:before {
    background: #f5f5f5 !important;
    border: 1px dashed #a8a7a7 !important;
}

.iconCollapse {
    color: #a1acb3;
}

/*Tabs*/
.nav-tabs .nav-item {
    margin-bottom: -3px;
    margin-top: 3px;
}

.nav-tabs .nav-link {
    margin-bottom: 1px !important;
}

.nav-tabs button {
    border: 0 !important;
    border-bottom: 2px solid rgba(152, 166, 173, 0.3) !important;
    color: #6c757d;
    padding: 10px 20px !important;
}

.nav-tabs button.active {
    border-color: var(--secondary-color) !important;
    border-width: 2px !important;
}

.tab-content {
    padding: 0 !important;
}

.nav-tabs {
    border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
}

.global {
    margin-top: 1px;
    padding: 20px 12px 25px 20px;
}

/* rc switch css */
.rc-switch {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
}

.rc-switch:after {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
    height: 28px;
    position: absolute;
    top: 0;
    width: 28px;
}

.rc-switch.rc-switch-checked {
    background-color: rgb(178, 221, 76);
    border-color: rgb(178, 221, 76);
    box-shadow: rgb(178 221 76) 0px 0px 0px 16px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s,
        background-color 1.2s ease 0s;
}

/* ldap tab */
.datamap-head-text {
    margin-top: -10px;
    font-size: 1rem;
    font-weight: 600;
}

.data-mapping-text + .line {
    width: 100%;
    background: #eaedef;
    height: 3px;
    /* padding: 10px auto; */
    margin-bottom: 20px;
    margin-top: -5px;
}

@media screen and (max-width: 753px) {
    .nav-tabs {
        border-bottom: 0 !important;
    }
    .tab-content {
        padding-top: 1.5rem !important;
    }
}

.custom-pop {
    white-space: nowrap;
    transform: translateX(-50%);
}

.no-arrow .popover-arrow {
    display: none !important;
}

#risk-matrix-levels .ui-slider-handle:after {
    border: 0 !important;
    width: auto !important;
    min-width: unset !important;
    height: auto !important;
    padding: 6px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    left: -7px !important;
    bottom: 25px !important;
    background-color: #d6d6d6 !important;
}
#risk-matrix-levels .ui-slider-handle:before {
    border-top: 8px solid #d6d6d6 !important;
}
.ui-slider .ui-slider-handle {
    height: 1.5em !important;
    top: -0.5em !important;
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    outline: none;
}

#risk-matrix-levels .ui-slider-handle:after {
    content: attr(data-value);
    position: absolute;
    bottom: 30px;
    left: -24px;
    min-width: 60px;
    height: 12px;
    background-color: #eee;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #ddd 1px solid;
    color: #333;
    font: 0.7em/1em Arial, Sans-Serif;
    padding: 1px;
    text-align: center;
}
#risk-matrix-levels .ui-slider-handle:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    margin-top: -1px;
}

.save-btn,
.cancel-btn {
    padding: 2px 10px !important;
    margin: 0 2px !important;
    height: 30px;
}

/* react select */
/* react select */
.react-select .react-select__option--is-selected{
    background-color: var(--secondary-color);
}
.react-select .react-select__option--is-focused{
    background-color: var(--bs-light);
}
.react-select .react-select__option--is-focused.react-select__option--is-selected {
    background-color: var(--secondary-color);
}

.react-select .react-select__control {
    cursor: pointer;
}

.react-select .react-select__control .react-select__option {
    cursor: pointer;
}

.session-timeout select {
    cursor: pointer;
}

.secure-mfa-login select {
    cursor: pointer;
}

/* new changes */

@media screen and (max-width:520px) {
    .tabs-menu-down ul{
            flex-direction: column;
    }
    .tabs-menu-down ul li .nav-link{
        width: 100%;
    }
}

.risk-matrix-buttons{
    float: right;
    display: inline-block;
}
@media screen and (max-width:520px) {
    #upload-saml-metadata-btn,#saml-save-button,#download-btn,#organization-save-button,#global-setting-save-btn{
        width: 100%;
    }

    .global{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .risk-levels-slider{
        margin: 0;
    }

    .risk-matrix-buttons{
        display: flex;
        float: none;
    }

    .risk-matrix-buttons .reset-risk-matrix-to-default{
        width: 75%;
    }

    .risk-matrix-buttons #save-updated-risk-matrix-btn{
        width: 25%;
    }
}

@media screen and (max-width:450px) {
    #download-metadata .col{
        flex: 0 0 auto !important;
        width: 100% !important;
    }
    #download-metadata .col h5{
        margin-top: 0 !important;
    }
}

.btn.btn-smtp-button {
    border-color: #98a6ad;
    font-weight: bold;
}

.sso-icon {
    height: 35px;
}

.oauth-smtp-form .sender-address{
    padding-right: 0px;
}

.oauth-smtp-form{
    width: 50%
}

@media screen and (max-width:598px) {
    .oauth-smtp-form{
        width: 100%
    }
}

@media screen and (min-width:599px) and (max-width:991px) {
    .oauth-smtp-form{
        width: 75%
    }
}

/* @media screen and (max-width:991px) {
    .oauth-smtp-form{
        width: 75%
    }
} */