#topnav {


    .profile-dropdown {
        background-color: #fff;
    }

    .help-icon {
        i {
            font-size: 25px;
        }
    }

    .logo{
        .logo-lg-text-light{
            white-space: nowrap;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

   

    
    /********************
        RESPONSIVE CSS
    *********************/
    @media (min-width: 768px) {
        .logo-box {
            span.logo {
                img {
                    padding: 6px;
                }
            }
        }
    }

    @media (max-width:1200px) {
        .logo {
            .logo-lg-text-light {
                max-width: 212px;
                font-size: 18px;
            }
        }
    }

    @media (max-width: 767px) and (min-width: 574px) {
        .logo {
            .logo-lg-text-light {
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                max-width: 140px;
            }
        }

        .card-body {
            h5.head-text {
                display: none;
            }

            ul.rect-div {
                display: flex;
                justify-content: center;
                margin-top: 0;
            }
        }
    }

    @media (min-width: 320px) and (max-width: 575px) {
        .logo {
            .logo-lg-text-light {
                color: #fff;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                max-width: 100px;
                // display: none;
            }
        }
    }

    @media (max-width: 500px) {
        .logo {
            .logo-lg-text-light {
                display: none !important;
            }
        }
    }

    @media (max-width: 767.9px) {
        .navbar-custom {
            padding: 0px;
        }

        .user-logout-dropdown-wp {
            padding-top: 20px;
        }
    }
}

.rc-tree-select-dropdown {

    // min-width: 500px !important;
    .rc-tree-select-tree {
        // width: fit-content;
        padding: 0.3rem;
        box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        width: 250px;

        .rc-tree-select-tree-list {
            .rc-tree-select-tree-treenode {
                padding: 5px 10px;

                .rc-tree-select-tree-switcher {
                    margin-right: 8px;
                }

                .rc-tree-select-tree-node-content-wrapper {
                    .rc-tree-select-tree-icon__customize {
                        display: none;
                    }
                }
            }
        }
    }

    &.data-scope-dropdown-menu {
        top: -1px !important;
    }
}


@media (max-width: 426px) {
    .rc-tree-select-dropdown {
        .rc-tree-select-tree {
            width: 200px;
        }
    }
}

@media (max-width: 768px) {
    .navbar-custom {
        padding: 0px;

        .topnav-menu {
            .nav-link {
                padding: 0 8px !important;
            }
        }
    }

    .lines {
        margin: 15px 8px 0 8px !important;
    }

    .nav-user {
        padding: 0 8px !important;
    }
}

@media(max-width:500px) {
    .logo-box {
        padding-top: 8px;

        .logo {
            .logo {
                img {
                    width: 55px !important;
                }
            }
        }
    }

    #data-scope-dropdown {
        .rc-tree-select {
            width: 135px !important;
        }
    }
}

@media(max-width:360px){
    .navbar-custom {
        padding: 0px !important;

        .topnav-menu {
            .nav-link {
                padding: 0px 3px!important;
            }
        }
    }
    .logo-box {
        padding-top: 14px;

        .logo {
            .logo {
                img {
                    width: 40px !important;
                }
            }
        }
    }

    #data-scope-dropdown {
        .rc-tree-select {
            width: 130px !important;
        }
    }

    #topnav {
        .navbar-toggle{
            .lines{
                width: 21px !important;
            }
        }
    }
}

@media(max-width:307px){
    #data-scope-dropdown {
        .rc-tree-select {
            width: 120px !important;
            &.rc-tree-select-single{
                .rc-tree-select-selector{
                    .rc-tree-select-selection-item{
                        left: -2px !important;
                    }
                }
            }
        }
    }
}


.right-bar {
    width: 300px;
    right: -310px;

    .rightbar-title {
        background-color: #384148;
        color: #ffffff;

        .right-bar-toggle {
            line-height: 29px;
        }
    }
}

.pointer-cursor{
    cursor: pointer;
}

.light-color-p{
    color:#6c757d;
}
